## Public routines
export(ceil)
export(eye)
export(find)
export(fix)
export(linspace)
export(logspace)
export(mod)
export(ones)
export(pascal)
export(rem)
export(repmat)
export(rot90)
export(std)
export(tic,toc)
export(zeros)

## S4 Methods
exportMethods(fliplr)
exportMethods(flipud)
exportMethods(size)
exportMethods(sum)

